.cooperation {

  &__container {
    padding-top: 23px;
    padding-bottom: 70px;

    @include tablet {
      padding-top: 25px;
    }

    @include mobile {
      padding-top: 33px;
      padding-bottom: 48px;
    }
  }

  &__title {
    margin-bottom: 32px;
    @include mobile {
      margin-bottom: 27px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: var(--black);

    @include mobile {
      margin-bottom: 6px;
      font-size: 16px;
    }
  }

  &__txt {
    max-width: 843px;
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: var(--grey-shade);

    @include mobile {
      margin-bottom: 25px;
      font-size: 14px;
    }
  }

  &__period {
    max-width: 611px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 109px;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: var(--black);
    background-image: url("../img/pencil.png");
    background-repeat: no-repeat;
    background-position: center left;

    @include mobile {
      max-width: 242px;
      padding-top: 5px;
      padding-left: 52px;
      font-size: 16px;
      background-image: url("../img/pencil-mobile.png");
      background-position: 0% 32%;
    }
  }
}

.get-list {
  margin-bottom: 32px;
  @include mobile {
    margin-bottom: 25px;
  }
  &__item {
    @include mb(12px);
    max-width: 615px;
    padding-left: 37px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey-shade);
    background-repeat: no-repeat;
    background-position: top left;

    @include mobile {
      font-size: 14px;
    }

    &-first {
      background-image: url("../img/get-list-1.svg");
    }
    &-second {
      background-image: url("../img/get-list-2.svg");
    }
    &-third {
      background-image: url("../img/get-list-3.svg");
    }
  }
}

.benefits-title {
  @include mobile {
    font-size: 14px;
  }
}

.benefits-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary);

  @include mobile {
    margin-bottom: 11px;
  }
}

.benefits-text {
  margin-bottom: 11px;

  &_last {
    margin-bottom: 32px;
    @include mobile {
      margin-bottom: 24px;
    }
  }
}

::marker {
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: var(--secondary);
}

.warranty {
  padding-left: 18px;
  list-style: decimal;

  &__list {
    max-width: 819px;
    padding-left: 8px;

    @include mb(12px);

    @include mobile {
      @include mb(7px);
    }
  }
}
