<section class="categories">
  <div class="container categories__container">
    <h2 class="title categories__title">Топ категории</h2>
    <div class="categories__grid">
      <article class="card categories__card categories__card-first">
        <ul class="list-reset card__list">
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Прямые</a></li>
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Угловые</a></li>
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Модульные</a></li>
        </ul>
        <h3 class="card__title categories__card-title">Диваны</h3>
        <h3 class="categories__mobile-title"><a href="#" class="card__title categories__card-title catalog-link catalog-link_top" aria-label="Перейти в католог диванов">
          Диваны
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </h3>
        <picture class="card__pic categories__pic">
          <source media="(max-width: 576px)" srcset="img/categories-1-320.avif" type="image/avif" width="354" height="212">
          <source media="(max-width: 576px)" srcset="img/categories-1-320.webp" type="image/webp" width="354" height="212">
          <source media="(max-width: 576px)" srcset="img/categories-1-320.png" width="354" height="212">
          <source srcset="img/categories-1.avif" type="image/avif">
          <source srcset="img/categories-1.webp" type="image/webp">
          <img loading="lazy" src="img/categories-1.png" class="image" width="515" height="308" alt="Диваны">
        </picture>
        <a href="#" class="categories__catalog-link catalog-link">
          <span class="catalog-link__value">В каталог</span>
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </article>
      <article class="card categories__card categories__card-second">
        <ul class="list-reset card__list">
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Мягкие</a></li>
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Кресла-кровати</a></li>
        </ul>
        <h3 class="card__title categories__card-title">Кресла</h3>
           <h3 class="categories__mobile-title"><a href="#" class="card__title categories__card-title catalog-link catalog-link_top" aria-label="Перейти в каталог кресел">
            Кресла
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </h3>
        <picture class="card__pic categories__pic">
          <source media="(max-width: 576px)" srcset="img/categories-2-320.avif" type="image/avif" width="158" height="104">
          <source media="(max-width: 576px)" srcset="img/categories-2-320.webp" type="image/webp" width="158" height="104">
          <source media="(max-width: 576px)" srcset="img/categories-2-320.png" width="158" height="104">
          <source media="(max-width: 1024px)" srcset="img/categories-2-1024.avif" type="image/avif" width="260" height="290">
          <source media="(max-width: 1024px)" srcset="img/categories-2-1024.webp" type="image/webp" width="260" height="290">
          <source media="(max-width: 1024px)" srcset="img/categories-2-1024.png" width="260" height="290">
          <source srcset="img/categories-2.avif" type="image/avif">
          <source srcset="img/categories-2.webp" type="image/webp">
          <img loading="lazy" src="img/categories-2.png" class="image" width="515" height="308" alt="Кресла">
        </picture>
        <a href="#" class="categories__catalog-link catalog-link">
          <span class="catalog-link__value">В каталог</span>
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </article>
      <article class="card categories__card categories__card-third">
        <ul class="list-reset card__list">
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Односпальные</a></li>
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Двуспальные</a></li>
        </ul>
        <h3 class="card__title categories__card-title">Кровати</h3>
           <h3 class="categories__mobile-title"><a href="#" class="card__title categories__card-title catalog-link catalog-link_top" aria-label="Перейти в каталог кроватей">
            Кровати
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </h3>
        <picture class="card__pic categories__pic">
          <source media="(max-width: 576px)" srcset="img/categories-3-320.avif" type="image/avif" width="157" height="104">
          <source media="(max-width: 576px)" srcset="img/categories-3-320.webp" type="image/webp" width="157" height="104">
          <source media="(max-width: 576px)" srcset="img/categories-3-320.png" width="157" height="104">
          <source media="(max-width: 1024px)" srcset="img/categories-3-1024.avif" type="image/avif" width="296" height="293">
          <source media="(max-width: 1024px)" srcset="img/categories-3-1024.webp" type="image/webp" width="296" height="293">
          <source media="(max-width: 1024px)" srcset="img/categories-3-1024.png" width="296" height="293">
          <source srcset="img/categories-3.avif" type="image/avif">
          <source srcset="img/categories-3.webp" type="image/webp">
          <img loading="lazy" src="img/categories-3.png" class="image" width="306" height="202" alt="Кровати">
        </picture>
        <a href="#" class="categories__catalog-link catalog-link">
          <span class="catalog-link__value">В каталог</span>
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </article>
      <article class="card categories__card categories__card-fourth">
        <ul class="list-reset card__list">
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Тумбы</a></li>
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Комоды</a></li>
        </ul>
        <h3 class="card__title categories__card-title">Тумбы и&nbsp;комоды</h3>
           <h3 class="categories__mobile-title"><a href="#" class="card__title categories__card-title catalog-link catalog-link_top" aria-label="Перейти в каталог тумб и комодов">
            Тумбы и&nbsp;комоды
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </h3>
        <picture class="card__pic categories__pic">
          <source media="(max-width: 576px)" srcset="img/categories-4-320.avif" type="image/avif" width="142" height="87">
          <source media="(max-width: 576px)" srcset="img/categories-4-320.webp" type="image/webp" width="142" height="87">
          <source media="(max-width: 576px)" srcset="img/categories-4-320.png" width="142" height="87">
          <source media="(max-width: 1024px)" srcset="img/categories-4-1024.avif" type="image/avif" width="252" height="296">
          <source media="(max-width: 1024px)" srcset="img/categories-4-1024.webp" type="image/webp" width="252" height="296">
          <source media="(max-width: 1024px)" srcset="img/categories-4-1024.png" width="252" height="296">
          <source srcset="img/categories-4.avif" type="image/avif">
          <source srcset="img/categories-4.webp" type="image/webp">
          <img loading="lazy" src="img/categories-4.png" class="image" width="330" height="202" alt="Тумбы и комоды">
        </picture>
        <a href="#" class="categories__catalog-link catalog-link">
          <span class="catalog-link__value">В каталог</span>
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </article>
      <article class="card categories__card categories__card-fifth">
        <ul class="list-reset card__list">
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Деревянные</a></li>
          <li class="card__item"><a href="#" class="link link--primary bg-focus card__link categories__link">Металлокаркас</a></li>
        </ul>
        <h3 class="card__title categories__card-title">Стулья</h3>
           <h3 class="categories__mobile-title"><a href="#" class="card__title categories__card-title catalog-link catalog-link_top" aria-label="Перейти в каталог стульев">
            Стулья
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </h3>
        <picture class="card__pic categories__pic">
          <source media="(max-width: 576px)" srcset="img/categories-5-320.avif" type="image/avif" width="140" height="104">
          <source media="(max-width: 576px)" srcset="img/categories-5-320.webp" type="image/webp" width="140" height="104">
          <source media="(max-width: 576px)" srcset="img/categories-5-320.png" width="140" height="104">
          <source media="(max-width: 1024px)" srcset="img/categories-5-1024.avif" type="image/avif" width="264" height="296">
          <source media="(max-width: 1024px)" srcset="img/categories-5-1024.webp" type="image/webp" width="264" height="296">
          <source media="(max-width: 1024px)" srcset="img/categories-5-1024.png" width="264" height="296">
          <source srcset="img/categories-5.avif" type="image/avif">
          <source srcset="img/categories-5.webp" type="image/webp">
          <img loading="lazy" src="img/categories-5.png" class="image" width="258" height="202" alt="Стулья">
        </picture>
        <a href="#" class="categories__catalog-link catalog-link">
          <span class="catalog-link__value">В каталог</span>
          <svg class="catalog-link__icon icon-btn">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </a>
      </article>
    </div>
  </div>
</section>
