<section class="hero">
  <h1 class="visually-hidden">Sit down please</h1>
  <div class="swiper hero__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero__slide swiper-slide--first">
        <div class="container hero__container">
          <h2 class="hero__title">Скидка 15% на первую покупку</h2>
          <button class="btn btn-reset btn--fill hero__btn">Получить!</button>
        </div>
        </div>
        <div class="swiper-slide hero__slide swiper-slide--second">
          <div class="container hero__container">
            <h2 class="hero__title">1000+ аксессуаров для дома</h2>
            <button class="btn btn-reset btn--fill hero__btn">Получить!</button>
          </div>
        </div>
        <div class="swiper-slide hero__slide swiper-slide--third">
          <div class="container hero__container hero__container_white">
            <h2 class="hero__title hero__title-white">Коллекция стильного и яркого текстиля</h2>
            <button class="btn btn-reset btn--fill hero__btn">Получить!</button>
          </div>
        </div>
    </div>
    <div class="swiper-pagination hero__pag"></div>
  </div>
  <div class="container hero__container hero__container_mobile">
    <button class="btn btn-reset btn--fill hero__mobile-btn">Получить!</button>
  </div>
</section>
