<section class="offer">
  <div class="container offer__container">
    <div class="offer__heading heading">
      <h2 class="title">Специальные предложения</h2>
      <div class="swiper-btns heading__swiper-btns">
        <button class="btn-reset swiper-btns__el offer__btn-prev swiper-btns__prev" aria-label="Предыдущий слайд">
          <svg class="icon-btn swiper-btns__icon">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset swiper-btns__el offer__btn-next"  aria-label="Следующий слайд">
          <svg class="icon-btn swiper-btns__icon">
            <use xlink:href="img/sprite.svg#btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper offer__swiper">
      <div class="swiper-wrapper">
         <article class="swiper-slide offer-slide ">
           <div class="offer-slide__container card">
            <div class="card__discount">- 9 000</div>
            <picture class="card__pic offer__pic">
              <source srcset="img/offer-1.avif" type="image/avif">
              <source srcset="img/offer-1.webp" type="image/webp">
              <img loading="lazy" src="img/offer-1.png" class="image" width="193" height="210" alt="Кресло велюровое “X-24”">
            </picture>
            <h3 class="card__title offer__title">
              <a href="#" class="card__link offer__link">Кресло велюровое “X-24”</a>
            </h3>
            <p class="offer__price card__price">15 990 руб <span class="card__price-old">24 990 руб</span></p>
            <button class="btn-reset offer__btn btn card__btn btn--stroke">Купить</button>
           </div>
         </article>
         <article class="swiper-slide offer-slide offer-slide_center">
          <div class="offer-slide__container card">
            <div class="card__discount">- 10 000</div>
            <picture class="card__pic offer__pic offer__pic_center">
              <source srcset="img/offer-2_1.avif" type="image/avif">
              <source srcset="img/offer-2_1.webp" type="image/webp">
              <img loading="lazy" src="img/offer-2_1.png" class="image offer-slide__img" width="450" height="245" alt="Диван тканевый “Z-44”">
            </picture>
            <picture class="card__add-pic">
              <source srcset="img/offer-2_2.avif" type="image/avif">
              <source srcset="img/offer-2_2.webp" type="image/webp">
              <img loading="lazy" src="img/offer-2_2.png" class="image" width="230" height="107" alt="Схематическое представление Дивана тканевый “Z-44”">
            </picture>
            <h3 class="card__title offer__title">
              <a href="#" class="card__link offer__link">Диван тканевый “Z-44”</a>
            </h3>
            <p class="offer__price card__price">22 990 руб <span class="card__price-old">32 990 руб</span></p>
            <button class="btn-reset offer__btn btn card__btn btn--stroke">Купить</button>
          </div>
         </article>
         <article class="swiper-slide offer-slide">
          <div class="offer-slide__container card">
            <div class="card__discount">- 600</div>
            <picture class="card__pic offer__pic">
              <source srcset="img/offer-3.avif" type="image/avif">
              <source srcset="img/offer-3.webp" type="image/webp">
              <img loading="lazy" src="img/offer-3.png" class="image" width="149" height="218" alt="Будильник  “Quartz-23”">
            </picture>
            <h3 class="card__title offer__title">
              <a href="#" class="card__link offer__link">Будильник  “Quartz-23”</a>
            </h3>
            <p class="offer__price card__price">1 290 руб <span class="card__price-old">1 890 руб</span></p>
            <button class="btn-reset offer__btn btn card__btn btn--stroke">Купить</button>
          </div>
         </article>
         <article class="swiper-slide offer-slide">
         <div class="offer-slide__container card">
          <div class="card__discount">- 300</div>
          <picture class="card__pic offer__pic">
            <source srcset="img/offer-4.avif" type="image/avif">
            <source srcset="img/offer-4.webp" type="image/webp">
            <img loading="lazy" src="img/offer-4.png" class="image" width="117" height="210" alt="Мини-скульптура “Oh my deer”">
          </picture>
          <h3 class="card__title offer__title">
            <a href="#" class="card__link offer__link">Мини-скульптура “Oh my deer”</a>
          </h3>
          <p class="offer__price card__price">690 руб <span class="card__price-old">990 руб</span></p>
          <button class="btn-reset offer__btn btn card__btn btn--stroke">Купить</button>
         </div>
         </article>
         <article class="swiper-slide offer-slide offer-slide_center">
          <div class="offer-slide__container card">
            <div class="card__discount">- 10 000</div>
            <picture class="card__pic offer__pic offer__pic_center">
              <source srcset="img/offer-5_1.avif" type="image/avif">
              <source srcset="img/offer-5_1.webp" type="image/webp">
              <img loading="lazy" src="img/offer-5_1.png" class="image offer-slide__img" width="463" height="223" alt="Диван вел-флок “Z-85”">
            </picture>
            <picture class="card__add-pic">
              <source srcset="img/offer-5_2.avif" type="image/avif">
              <source srcset="img/offer-5_2.webp" type="image/webp">
              <img loading="lazy" src="img/offer-5_2.png" class="image" width="230" height="107" alt="Схематическое представление Дивана вел-флок “Z-85”">
            </picture>
            <h3 class="card__title offer__title">
              <a href="#" class="card__link offer__link">Диван вел-флок “Z-85”</a>
            </h3>
            <p class="offer__price card__price">22 990 руб <span class="card__price-old">32 990 руб</span></p>
            <button class="btn-reset offer__btn btn card__btn btn--stroke">Купить</button>
          </div>
         </article>
         <article class="swiper-slide offer-slide">
          <div class="offer-slide__container card">
            <div class="card__discount">- 700</div>
            <picture class="card__pic offer__pic">
             <source srcset="img/offer-6.avif" type="image/avif">
             <source srcset="img/offer-6.webp" type="image/webp">
             <img loading="lazy" src="img/offer-6.png" class="image" width="183" height="218" alt="Диван вел-флок “Z-85”">
           </picture>
           <h3 class="card__title offer__title">
             <a href="#" class="card__link offer__link">Термометр + гидрометр “H-18”</a>
           </h3>
           <p class="offer__price card__price">1 390 руб <span class="card__price-old">2 090 руб</span></p>
           <button class="btn-reset offer__btn btn card__btn btn--stroke">Купить</button>
          </div>
         </article>
      </div>
    </div>
    <div class="swiper-btns swiper-btns_btm">
      <button class="btn-reset swiper-btns__el offer__btn-prev swiper-btns__prev" aria-label="Предыдущий слайд">
        <svg class="icon-btn swiper-btns__icon">
          <use xlink:href="img/sprite.svg#btn-arrow"></use>
        </svg>
      </button>
      <button class="btn-reset swiper-btns__el offer__btn-next"  aria-label="Следующий слайд">
        <svg class="icon-btn swiper-btns__icon">
          <use xlink:href="img/sprite.svg#btn-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
